@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin mobile {
  @media (min-width: 1240px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 768px) {
    @content;
  }
}
